* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
}

body {
  background-color: #f4f4f4;
  height: 100vh; /* Ensure body takes full viewport height */
  margin: 0;
}

.main {
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 10px;
  background-color: #73bbbb;
  border-radius: 10px;
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li h1 {
  margin-left: 10px;
  font-size: 24px;
  color: white;
}

nav ul li button {
  padding: 10px 20px;
  background-color: #16dfdf;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.input-window {
  margin-top: 20px;
}

.input-window textarea.title {
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  resize: none;
}

.input-window textarea.content {
  width: 100%;
  height: 500px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}
